html{
	height:100%;
}
body{
	height: 100% !important;
	margin: auto !important;
	font-family: calibri !important;
	overflow: hidden !important;
    max-width:100% !important;
	min-width:960px !important;
	position: relative !important;
	background: #cde2ed !important;
}
input { font-size: 10pt !important; }
button{
	border:none;
}
.main-container{
}

.left-menutab{
	width:15%;
	height:100%;
	background-color:rgba(10,10,10,0.9);
}
.dsply{
	visibility: visible !important ;
}
.floatL{
	float:left;
}

.floatR{
	float:right;
}
.clr{
	clear: both;
}
.app-name-sec{
	font-size: 16pt;
	font-weight:700; 
	width: auto; 
	line-height: 20px;
	color:#428bca;
}
.header {
	padding: 12px 20px;
	text-align: center;
	background: -moz-linear-gradient(top, #f2f5f6 45%, #f2f5f6 45%, #f2f5f6 45%, #c8d7dc
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #f2f5f6),
		color-stop(45%, #f2f5f6), color-stop(45%, #f2f5f6),
		color-stop(100%, #c8d7dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f5f6 45%, #f2f5f6 45%, #f2f5f6 45%,
		#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f5f6 45%, #f2f5f6 45%, #f2f5f6 45%, #c8d7dc
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f5f6 45%, #f2f5f6 45%, #f2f5f6 45%, #c8d7dc
		100%); /* IE10+ */
}
.header-menu{
	font-size: 11pt; 
	width: auto;
	color:rgba(240,240,240,0.9); 
}
.header-menu span{
	padding: 0 20px;
    color:#428bca;
    border-right: 1px solid rgba(200,200,200,0.8); 
}

.header-navbar-brand{
	height:auto;
}

.header-menu span a{
    color:#428bca;
}

.top-container{
	margin:5px 10px;
	border-radius: 5px;
	background-color: #f2f8fe;
	display:none;
}
.top-container div.contents{
	width: -moz-calc(40% - 20px);
    width: -webkit-calc(40% - 20px);
    width: calc(40% - 20px);
	margin: 10px;
	height:160px;
	background-color: rgba(10,10,10,0.1);
	border:none;
}
.table-header{
	padding:0 10px!important;
	font-size: 13pt
}

.display-table{
	display:table !important;
}
#table1, #table2, #table3{
	width: 100%;
	table-layout: fixed;
	padding:0 10px; 
	font-size: 11pt;
	display:none;
}

.display-table tr td{
	padding: 1px 10px;
}

.display-table tr td input{
	width:80%;
	height:20px;
}

#searchTextBox{
	height:32px;
}

.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
a {
    text-decoration: none !important;
}
#tabContainer{
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    font-size: 12px;
    line-height:14px;
    margin: 10px;
    overflow: hidden;
}
#tabContainer div ul{
    list-style: none;
    list-style-position: outside;
    width: 100%;
    margin:0 ;
    padding:0;
}
#tabContainer div ul.tab-menu li{
	 box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: block;
    float: left;
    text-align:center;
    position: relative;
    padding: 5px 0px ;
    background: #428bca;
    border: 1px solid rgba(100,100,100,0.3);
    color: #eee;
    cursor: default;
    height: 25px;
    margin-bottom: -1px;
    width: 14.285%; 
    width: calc(100% / 7);
}
.dus-container-width{
	width: 100% !important;
	background: #428bca !important;
}
#tabContainer div ul.tab-menu li:hover{
	background: rgba(190,190,190,1);
}
#tabContainer div ul.tab-menu li.active{
    background: rgba(10,10,10,0.7);
    color: rgba(255,255,255,0.9);
}
.relative-tab-container{
	position:relative;
	display:none;
}
.tab-top-border {
    
}
.tab-buttons{
	position:relative;
	width: -moz-calc(100% - 0px);
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
	background-color:rgba(10,10,10,0.9);
	height:40px;
	margin-bottom:0px;
	text-align:left;
	padding-left:5px;
	line-height: 40px;
	color:#428bca;
	font-size: 10pt;
	font-family:sans-serif; 
	float:right;
	border-bottom: 1px solid rgba(200,200,200,0.6);
}
.tab-buttons:hover{
    background-color: #eee;
    cursor:pointer;
}
.tab-buttons.active{
	background-color: #428bca !important;
	color:#eee;
	cursor:default;
}	
.tab-content{
    margin:-12px 0;
    background-color:#f2f8fe;
    border: 1px solid #ddc;
    border-top-style: none;
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 11px;
    display: none;
    width:100%;
    border-radius:5px;
}

.active{
    display: block !important;
}
.tab-content h1{
    line-height: 1em;
    height: 28px;
    font-size: 22px;
}

.tab-content p{
	text-align: center;
	font-size: 18pt;
	margin:20px 0;
}
.tab-dropdown{
     box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px solid rgba(10,10,10,0.1);
	width:14.285%;
    width: calc(100% / 7);
	display:block;
	visibility:hidden;
	height:70px;
	position:absolute;
	top:25px;
	left:0;
	background-color: rgba(255,255,255,0.9)
}
.tab-dropdown div{
    padding:5px 10px;
    margin-bottom:-3px;
    border-bottom: 1px dotted rgba(20,20,20,0.4);
}
.tab-dropdown div a{
	color:rgba(0,0,0,0.7);
	display: block;
	width:100%;
}
.output-area{
	margin: 30px 5px; 
	font-size: 16pt; 
	font-weight: bold; 
	text-align: center;
}
#messagingTopContainer div.contentTab{
    height:180px;
    margin:0;
    border:none;
    width:10%;
}
.list-group > a{
	 height: calc(180px / 3);
}
#adminContainer div.tab-content{
	height:620px;
	padding-top: 20px;
}
.form-group{
	margin:0 5px;
}
.checkbox{
	width:70px;
}
.form-inline{
	font-size: 10pt;
}
#addUsePermission{
	display:none;
}
#addUserRoleSelector{
	width: 150px;
}
#myTab li a{
	background-color: #f2f8fe;
	margin:2px;
	padding: 10px 15px;
	text-align:center;
	color: #fff;
	background-color: #428bca;
	border-radius: 4px 4px 0 0;
}

#myTab li a:hover{
	color: #428bca;
	background-color: #fff;
}

#myTab li.active>a{
	color: #428bca;
	background-color: #f2f8fe;
}

#myTab li{
	height:100%;
	width: -moz-calc(100% /5);
    width: -webkit-calc(100% /5);
    width: calc((100% - 10px) /5);
}
.search-selector{
	width:140px;
	height:32px;
	padding:0 5px;
}

#searchTextBox{
	padding: 0 5px;
	width:30%;
}
#messagingRadioGroup{
	margin:0 5px;
	display:none;
}

table.dataTable th{
	color: white;
	background-color: #428bca;
}

.dataTables_wrapper .ui-widget-header{
	color: white;
	background-color: #428bca;
}

.ui-widget-header .dataTables_info{
	color: white;
}

table.dataTable.display tbody tr.odd{
	background-color: #ffffaa;
}

table.dataTable.display tbody tr td{
	background-color: transparent !important;
}

.dataTables_wrapper .ui-widget-header:first-child{
	display:none;
}


#msisdnResult{
	width:500px;
	margin-top: 10px;
}

#msisdnResult th, #msisdnResult td{
	padding:5px;
	border-bottom: 1px solid black;
}

#msisdnResult th{
	color: white;
	background-color: #428bca;
}

#msisdnResult td{
	
}

#msisdnResult td button{
	width:60px;
	padding:2px;
	margin-right: 5px;
	border: 1px solid black;
	display:none;
}

#msisdnResult td button:first-child{
	display: block;
}


#banResult{
	background-color: white;
	padding: 5px;
	position: relative;
	height: 300px;
}

#banResult ul{
	width:150px;
	position:absolute;
	top:5px;
	bottom:5px;
	left:5px;
	padding: 5px 0 5px 5px;
	margin: 0;
	list-style: none;
	background-color: silver;
}

#banResult > div{
	margin-left: 155px;
	padding:5px;
	height: 290px;
	background-color: #EEE;
}

#banResult > div h4{
	margin: 0;
	padding: 5px;
	background-color: #bbbbff;
}
#banResult > div table{
	border: 1px solid;
}
#banResult > div table th{
	background-color: black;
	color:white;
}
#banResult > div table td{
	border-bottom: 1px solid;
}

#banResult > div #counters{
	margin-bottom: 10px;
}

#banResult ul li{
	background-color: gray;
	border-bottom: 1px solid #555;
}

#banResult ul li.selected{
	background-color: #eee;
}

#banResult ul li a{
	display: block;
	padding: 10px;
	color:white;
}


#banResult ul li a:hover, #banResult ul li.selected a{
	background-color: #eee;	
	color:black;
}