html{
	min-height:100%;
}

body{
	background:none;
	padding:10px;
}

.login-box{
	max-width:550px;
	margin: 0px auto 20px;
	background: linear-gradient(45deg,  #eee 0%, #eee 140%);
	/* background: -webkit-linear-gradient(45deg, #f26cbb 0%,#ea0a8e 140%); */
	background: -webkit-linear-gradient(45deg, #eee 0%, #eee 140%);
	background: -moz-linear-gradient(45deg, #eee 0%, #eee 140%);
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26cbb', endColorstr='#ea0a8e',GradientType=1 ); */
	padding:20px;
	border:	5px solid white;
	border-radius:5px;
	-webkit-box-shadow: 0 0 20px 5px #474747;
	box-shadow: 0 0 20px 5px #222222;
}
.login-box form{
	margin:30px 0;
}


.help-box{
	
	margin: 0px auto 20px;
	background: linear-gradient(45deg,  #eee 0%, #eee 140%);
	/* background: -webkit-linear-gradient(45deg, #f26cbb 0%,#ea0a8e 140%); */
	background: -webkit-linear-gradient(45deg, #eee 0%, #eee 140%);
	background: -moz-linear-gradient(45deg, #eee 0%, #eee 140%);
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26cbb', endColorstr='#ea0a8e',GradientType=1 ); */
	padding:20px;
	border:	5px solid white;
	border-radius:5px;
	-webkit-box-shadow: 0 0 20px 5px #474747;
	box-shadow: 0 0 20px 5px #222222;
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	.login-box{
		margin: 100px auto 120px;
	}
	.login-box form{
		margin:60px 0;
	}
}

footer{
position:relative;
	color: white;
	padding: 10px;
	font-size: 11px;
}

.footer-sticker{
	width: 50px;
	height: 50px;
	background-color: #ff00ff;
	border-radius:3px;
	font-size: 10px;
	padding-top: 20px;
	padding-left: 5px;
	font-weight: bold;
	position:absolute;
	top:5px;
	left:20;
}

.btn,.btn-primary{
	background-color: #ea0a8e;
	border-color: #ea0a8e;
}

.btn-primary:focus,.btn-primary:active,.btn-primary.active{
	background-color: #ea0a8e;
	border-color: #ea0a8e;
}

.btn:hover,.btn-primary:hover{
	background-color: #ea0a8e;
	border-color: #ea0a8e;
}

.fieldset {
	width: 510px;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.loginlabel {
	color: #797979;
	font-weight: bold;
	width: 200px;
	float: left;
	font-size: 17px;
}

.fieldset:focus{
	outline: 0;
	border-color: #ea0a8e;
	-webkit-box-shadow: 1px 1px 8px 1px #ea0a8e;
}