html {
	height: 100%;
	overflow: auto;
}

body {
	height: 100%;
	margin: auto;
	font-family: calibri;
	overflow: hidden;
	max-width: 100%;
	min-width: 960px;
	position: relative;
	background: white;
}

button {
	border: none;
}

.main-container {
	width: 100%;
	height: 100%;
}

.left-menutab {
	width: 15%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.9);
}

#headImg{
	height: 30px;
}

.dsply {
	visibility: visible !important;
	background-color: #428bca !important;
	height: 88px !important;
	margin-top: 6px !important;
}

a.nap-sub-menu-head {
	color: white;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

.clr {
	clear: both;
}

.app-name-sec {
	font-size: 16pt;
	font-weight: 700;
	width: auto;
	line-height: 20px;
	color: #428bca;
}

#contentMain.row{
	margin-right: 0;
}

#contentMain > .col-lg-2, #contentMain > .col-lg-10, #contentMain > .col-lg-12, #contentContainer{
	overflow: auto;
}

.header {
	background: -moz-linear-gradient(top, #f2f5f6 45%, #f2f5f6 45%, #f2f5f6 45%, #c8d7dc
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #f2f5f6),
		color-stop(45%, #f2f5f6), color-stop(45%, #f2f5f6),
		color-stop(100%, #c8d7dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f5f6 45%, #f2f5f6 45%, #f2f5f6 45%,
		#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f5f6 45%, #f2f5f6 45%, #f2f5f6 45%, #c8d7dc
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f5f6 45%, #f2f5f6 45%, #f2f5f6 45%, #c8d7dc
		100%); /* IE10+ */
}

.navbar-nav>li>a {
	padding-top: 6px;
	padding-bottom: 6px;
}


.header-menu, #footer{
	font-weight: bold;
}

.header-menu {
	width: auto;
	color: rgba(240, 240, 240, 0.9);
}

.header-menu span {
	padding: 0 7px;
	color: #797979;
}

.header-navbar-brand {
	height: auto;
}

.fixed-nav{
	position: fixed;
	top: 0;
	z-index: 1;
}

.fixed-side-nav{
	position: fixed !important;
	width: 16%;
	top: 80px;
}

.header-menu span a {
	color: #797979;
}

.header-menu span a:hover {
	color: #ea0a8e;
	text-decoration: underline !important;
}

.top-container {
	margin: 5px 10px;
	border-radius: 5px;
	background-color: #f2f8fe;
	display: none;
}

.top-container div.contents {
	width: -moz-calc(40% - 20px);
	width: -webkit-calc(40% - 20px);
	width: calc(40% - 20px);
	margin: 10px;
	height: 160px;
	background-color: rgba(10, 10, 10, 0.1);
	border: none;
}

.table-header {
	padding: 0 10px !important;
	font-size: 13pt
}

.display-table {
	display: table !important;
}

#table1,#table2,#table3 {
	width: 100%;
	table-layout: fixed;
	padding: 0 10px;
	font-size: 11pt;
	display: none;
}

.display-table tr td {
	padding: 1px 10px;
}

.display-table tr td input {
	width: 80%;
	height: 20px;
}

#searchTextBox {
	height: 32px;
}

.clear {
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

a {
	text-decoration: none !important;
}

#tabContainer {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	margin: 10px;
	overflow: hidden;
}

#tabContainer div ul {
	list-style: none;
	list-style-position: outside;
	width: 100%;
	margin: 0;
	padding: 0;
}

#tabContainer div ul.tab-menu li {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	float: left;
	text-align: center;
	position: relative;
	padding: 5px 0px;
	background: #428bca;
	border: 1px solid rgba(100, 100, 100, 0.3);
	color: #eee;
	cursor: default;
	height: 25px;
	margin-bottom: -1px;
	width: 14.285%;
	width: calc(100%/ 7);
}

.dus-container-width {
	width: 100% !important;
	background: #428bca !important;
}

#tabContainer div ul.tab-menu li:hover {
	background: rgba(190, 190, 190, 1);
}

#tabContainer div ul.tab-menu li.active {
	background: rgba(10, 10, 10, 0.7);
	color: rgba(255, 255, 255, 0.9);
}

.relative-tab-container {
	position: relative;
}

.tab-top-border {
	
}

.nav-justified {
	padding: 0;
}

.nav-justified>li {
	padding: 5px;
	text-align: center;
	background-color: #797979;
	border-right: 1px solid white;
}

.tab-buttons {
	position: relative;
	width: -moz-calc(100% - 0px);
	width: -webkit-calc(100% - 0px);
	width: calc(100% - 0px);
	background-color: rgba(10, 10, 10, 0.9);
	height: 40px;
	margin-bottom: 0px;
	text-align: left;
	padding-left: 5px;
	line-height: 40px;
	color: #428bca;
	font-size: 10pt;
	font-family: sans-serif;
	float: right;
	border-bottom: 1px solid rgba(200, 200, 200, 0.6);
}

.tab-buttons:hover {
	background-color: #eee;
	cursor: pointer;
}

.tab-buttons.active {
	background-color: #428bca !important;
	color: #eee;
	cursor: default;
}

.tab-content {
	margin: -12px 0;
	background-color: #f2f8fe;
	border: 1px solid #ddc;
	border-top-style: none;
	text-align: left;
	padding: 10px;
	padding-bottom: 20px;
	display: none;
	height: 520px;
	width: 100%;
	border-radius: 5px;
}

.tab-content-cntb {
	margin: -12px 0;
	background-color: C8C8C8 !important;;
	border: 1px solid #ddc;
	border-top-style: none;
	text-align: left;
	padding: 10px;
	padding-bottom: 20px;
	display: none;
	width: 100%;
	border-radius: 5px;
}

.tab-content1 {
	margin: -12px 0;
	background-color: #f2f8fe;
	border: 1px solid #ddc;
	border-top-style: none;
	text-align: left;
	padding: 10px;
	padding-bottom: 20px;
	font-size: 11px;
	display: none;
	height: 0px;
	width: 100%;
	border-radius: 5px;
}

.active {
	display: block !important;
}

.tab-content h1 {
	line-height: 1em;
	height: 28px;
	font-size: 22px;
}

.tab-content p {
	text-align: center;
	font-size: 18pt;
	margin: 20px 0;
}

.tab-dropdown {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid rgba(10, 10, 10, 0.1);
	width: 14.285%;
	width: calc(100%/ 7);
	display: block;
	visibility: hidden;
	height: 70px;
	position: absolute;
	top: 25px;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
}

.tab-dropdown div {
	padding: 5px 10px;
	margin-bottom: -3px;
	border-bottom: 1px dotted rgba(20, 20, 20, 0.4);
}

.tab-dropdown div a {
	color: rgba(0, 0, 0, 0.7);
	display: block;
	width: 100%;
}

.tab-dropdown div:hover {
	color: black;
	background-color: white;
}

.output-area {
	margin: 30px 5px;
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}

#messagingTopContainer div.contentTab {
	height: 180px;
	margin: 0;
	border: none;
	width: 10%;
}

.list-group>a {
	height: calc(180px/ 3);
}

#adminContainer div.tab-content {
	height: 620px;
	padding-top: 20px;
}

.form-group {
	margin: 0 5px;
}

.checkbox {
	width: 70px;
}

.form-inline {
	
}

#addUsePermission {
	display: none;
}

#addUserRoleSelector {
	width: 150px;
}

#mainNav li a {
	background-color: #f2f8fe;
	margin: 2px;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	background-color: #428bca;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
	font-size: 17px
}

#mainNav li a:hover,#mainNav li.active>a {
	color: #fff;
	background-color: #eee;
}

#mainNav li {
	height: 100%;
	width: -moz-calc(60%/ 5);
	width: -webkit-calc(60%/ 5);
	width: calc(( 60% - 10px)/5);
}

.search-selector {
	width: 140px;
	height: 32px;
	padding: 0 5px;
}

#searchTextBox {
	padding: 0 5px;
	width: 30%;
}

#messagingRadioGroup {
	margin: 0 5px;
	display: none;
}

ul.sb {
	list-style-type: none;
	background-color: silver;
	padding: 0px;
}

ul.sb li {
	background-color: #fff;
	border-top: 1px solid #555;
	position: relative;
}

ul.sb li:last-child{
	border-bottom: 1px solid #555;
}

ul.sb li.selected {
	background-color: #ea0a8e !important;
}

ul.sb li a {
	display: block;
	padding: 7px;
	color: #ea0a8e;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 17px;
}

ul.sb li a:hover,ul.sb li.selected a {
	background-color: #ea0a8e;
	color: white;
}

ul.sb li > .icon-expand{
	display:block;
	width: 25px;
	height:25px;
	position:absolute;
	right: 5px;
	top:5px;
	background: url(images/Arrow-Icon-small.png);
}

ul.sb li.expanded > .icon-expand{
	-webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}

ul.sb div{
	padding: 0;
	font-size: 12px;
}

ul.sb div li a{
	padding-left: 15px;
	font-size: 15px;
}

.col-lg-10 {
	background-color: #EEE;
	padding-right: 25px;
}

.contentJspDiv {
	
}

.label1 {
	color: #000;
	font-weight: normal;
	width: 200px;
	float: left;
}

.label1:after {
	content: ": "
}

.label2 {
	color: #797979;
	font-weight: bold;
	width: 200px;
	float: left;
}

.label1:after {
	content: ": "
}

.fieldset {
	width: 400px;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.fieldsetSelect {
	width: 160px !important;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.fieldsetSelect:focus{
	outline: 0;
	border-color: #ea0a8e;
	-webkit-box-shadow: 1px 1px 8px 1px #ea0a8e;
}
.fieldset:focus{
	outline: 0;
	border-color: #ea0a8e;
	-webkit-box-shadow: 1px 1px 8px 1px #ea0a8e;
}

.passwordLabel {
	color: #428bca;
	font-weight: bold;
	width: 200px;
	float: left;
}

.label1:after {
	content: ": "
}

.passwordFieldset {
	background: FFFF99;
	width: 250px;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 4px groove(internal value);
}

.bigTextArea {
	background: FFFF99;
	width: 400px;
	height: 150px;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 4px groove(internal value);
}

.borderDiv {
	border-width: thin;
	border-righ-width: thick;
	border-style: solid;
	border-color: white;
}

.buttonPassword {
	display: inline-block;
	outline: none;
	cursor: pointer;
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
	width: 100px;
	height: 30px;
	margin-left: 20px;
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.buttonCancel {
	display: inline-block;
	outline: none;
	cursor: pointer;
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
	width: 100px;
	height: 30px;
	margin-left: 0px;
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

#content-name,#socs-label,#customer-info,#napPartners-label,#dus-profile-label,#dus-counter-label,#pcrf-profile-label,#pcrd-activeSession-label,#uma-label,#hss-label,#eir-label
	{
	text-align: center;
	font-size: 20pt;
	top: 100px;
}

#uid-span-info {
	position: relative;
	left: 0;
	font-weight: bold;
}

.activeUSD {
	background-color: #eee !important;
	border: 1px solid !important;
	border-color: black;
}

#searchBox, #searchBox_iam_link, #searchBox_iam_unlink, #searchBox_iam_lock, #searchBox_iam_Unlock {
	background-color: #eee;
	padding: 10px;
	width: 800px;
}
#searchBox.col-md-6{
	width: 535px !important;
}


#searchBox select, #searchBox input, #searchBox_iam_token select, #searchBox_iam_token input,
#searchBox_iam_lock select, #searchBox_iam_lock input, #searchBox_iam_Unlock select, 
#searchBox_iam_Unlock input, #searchBox_iam_link select, #searchBox_iam_link input,
#searchBox_iam_unlink select, #searchBox_iam_unlink input
{
	margin-right: 5px;
}

#searchBox select, #searchBox input, #searchBox_iam_link select, #searchBox_iam_link input,
#searchBox_iam_token select, #searchBox_iam_token input,
#searchBox_iam_lock select, #searchBox_iam_lock input, #searchBox_iam_Unlock select, 
#searchBox_iam_Unlock input,
#searchBox_iam_unlink select, #searchBox_iam_unlink input{

	width: auto;
	min-width: 100px;
}

#searchBox .input-group-addon {
	border-color: #eee;
}

#msisdnResult {
	width: 500px;
	margin: 10px;
}

#msisdnResult th,#msisdnResult td {
	padding: 5px;
	border-bottom: 1px solid black;
}

#msisdnResult th {
	color: white;
	background-color: #ea0a8e;
}

#msisdnResult td button,#dusMsisdnResult td button {
	display: none;
	margin-right: 10px;
}


#msisdnResult td button:first-child,#dusMsisdnResult td button:first-child {
	display: block;
}

#banResult {
	background-color: white;
}

#banResult>div {
	background-color: #EEE;
	padding-right: 25px;
}

.gridAddButton {
	color: #fff;
	background-color: #ea0a8e;
	border-color: #ea0a8e;
	width: 60px;
}

.gridAddButton:hover{
	background-color: #ea0a8e;
	border-color: #ea0a8e;
}

.open .dropdown-toggle.btn-primary
	{
	color: #fff;
	background-color: #ea0a8e;
	border-color: #ea0a8e
}

.gridAddButton:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	background-image: none
}

.gridDeleteButton {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	width: 20px;
}

#usdTabList li.activeUSD>a,#gFlexTabList li.activeUSD>a, #insdpTabs li.activeUSD>a {
	color: white;
}

#loading {
	position: absolute;
	left: 50%;
}

#msgTabList li.activeUSD>a {
	color: #428bca;
}

#searchBox input,#updateServiceClass input,#updateBalanceAndDate input,#activateSubscriber input,#deleteSubscriber input,#createSubscriber input,#updateSubscriberSeg input,#updateAccumulatorDetails input
{
	width: auto;
}

.input-group .form-control {
	!float: none;
}

#updateServiceClass,#updateBalanceAndDate,#activateSubscriber,#deleteSubscriber,#createSubscriber,#updateSubscriberSeg,#updateAccumulatorDetails
	{
	background-color: #eee;
	padding: 5px;
}

#fixed {
	left: 0px;
	right: 0px;
	z-index: 10000;
}

ul.nav-justified li:hover {
	color: black;
}


ul.nav-justified li:hover a {
	color: white;
}

#cusInfo {
	position: relative;
	left: 25%;
	width: 60%;
	right: 25%;
}
.input-grp{
       position: relative;
       border-collapse: seperate;
}

.btn,.btn-primary{
	background-color: #ea0a8e;
	border-color: #ea0a8e;
}

.btn[disabled],.btn-primary[disabled]{
	background-color: #d7b3d1;
	border-color: #d7b3d1;
}

.btn-primary:focus,.btn-primary:active,.btn-primary.active{
	background-color: #ea0a8e;
	border-color: #ea0a8e;
}

.btn:hover,.btn-primary:hover{
	background-color: #ea0a8e;
	border-color: #ea0a8e;
}

.nav>ul>li{
	background-color: #ea0a8e;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #bdbdbd;
}
.header .nav>li>p{
	color:#797979;
}
.header .nav>li>a{
	font-weight: bold;
	color:#797979
}
.header .nav>li>a:hover{
	text-decoration: underline !important;
	color: #ea0a8e;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus{
	color: white !important;
	background-color: #ea0a8e !important;
}

.nav-pills>li>a:hover{
	color: #ea0a8e !important;
}

.nav-pills>li.active>a:hover{
	color: #fff !important;
}

.nav-pills>li>a{
	color: black !important;
	background-color: #bdbdbd !important; 
}

.panel-heading{
	background-color: #ea0a8e !important;
	border-color: #ea0a8e !important;
}

.panel-primary{
	border-color: #ea0a8e !important;
}

#insdpTabs li.activeUSD>a{
	background-color: #ea0a8e;
}

#usdTabList li.activeUSD{
	background-color: #ea0a8e !important;
}


#gFlexTabList li.activeUSD>a {
	color: white;
}

#napDropDown>li{
	color: #fff;
}

#napDropDown>li.selected{
	color: #fff;
	background-color: #ea0a8e;
	border: 3px inset;
}

.form-control:focus{
	border-color: #ea0a8e;
	-webkit-box-shadow: 1px 1px 8px 1px #ea0a8e;
}

.form-control{
	background-color: #FFF;
}

#searchType,#searchText,#inputTAC,#inputIMEI, #deviceManufacturer, #deviceModel, #deviceBands, #deviceScreenResolution, #deviceTechnologies{
	background-color:#fff !important;
}

#smsc-sub-menu li, #searchEirTabs li{
	   border-bottom: none;
       text-align: left;
       display: none;
}

#smsc-sub-menu li a{
	padding-left:30px;
}

#smsc-aci-sub-menu li, #searchEirTabs li{
	   border-bottom: none;
       text-align: left;
       display: none;
}

#smsc-aci-sub-menu li a{
	padding-left:30px;
}

hr{
	border: 1px dotted black !important;
}

legend{
	font-weight: bold !important;
}

#footer{
   position:fixed;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   background:#ea0a8e;
   color:#fff;
}


#mmsc-sub-menu li, #searchEirTabs li, #iam-sub-menu li{
	   border-bottom: none;
       text-align: left;
       display: none;
}

#mmsc-sub-menu li a, #iam-sub-menu li a{
	padding-left:30px;
}

table.dataTable.display tbody tr.odd > td{
	background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd:hover > td, table.dataTable.display tbody tr.even:hover > td{
	background-color: #eaeaea;
}

.bigfieldset {
	width: 500px;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.bigfieldset:focus{
	outline: 0;
	border-color: #ea0a8e;
	-webkit-box-shadow: 1px 1px 8px 1px #ea0a8e;
}

.ui-autocomplete {
            max-height: 100px !important;;
            overflow-y: auto !important;;
            /* prevent horizontal scrollbar */
            overflow-x: hidden !important;;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px !important;
    }


.hideTokenPanel, #iam_token_panel .hideOthers, #searchBox .hideOthers, #iam_link_panel .hideOthers, #iam_unlink_panel .hideOthers,
.hideLockPanel, .hideUnLockPanel, #iam_lock_panel .hideOthers, #iam_unlock_panel .hideOthers{
	display: none;
}

.iam-scope-grant{
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

#accessToken_table {
	border: 1px solid #EA0A8E;
}

#accessToken_table tr th{
    background-color: #EA0A8E;
    color: #FFF;
    border-top: none;
    border: 1px solid #EA0A8E;
}

.glyphicon-plus-sign, .glyphicon-minus-sign{
	color: #ea0a8e;
}